# --- IDE Settings ---
.vscode/*
!.vscode/c_cpp_properties.json

# --- Build & Compiled Objects ---
build/
*.so
*.o
*.a
*.pyc
**/__pycache__/
phimats_env.sh

# --- Documentation & Private ---
Doxygen/*
private/
dev/